// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "./users";
@import "./blogs";
@import "./messages";
@import "./rooms";
@import "bootstrap";

/* universal */


.haikei{
  background-image : url(_s_a12Cb12Cc12Cd12Ce0f0g64hEFF2E2E4E1C4DECEAEDDB79DABDBF3iB5.png );
}

.haikei1{
  background-color: #F0FFF0	;
  width: 250px;
  position: fixed;
  right: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.user{
  float: left;
  width: 33.333333%;
	padding: 10px;
}


body {
  margin-top: 50px;
  height: 100%;
}

.text1{
  position: relative;
  top: 50px;
  left: 30px;
}

b.login{
  height: 30px;
  position: relative;
  top: 5px;
}

form#new_user.new_user{
  margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*blog_list*/

.kiji{
  position: relative;
  top: 130px;
  position: absolute;
  left: 400px;
}

.kiji1{
}

.kijiitiran{
  font-size: 30px;
  padding:5px 10px;
  width: 500px;
  border-bottom:1px solid black;
}

.kijiitiran1{
  position: relative;
  bottom: 1px;
  border-bottom:1px solid black;
}

/*blog_form*/

.bfield{
  width: 800px;
  position: relative;
  top: 20px;
  left: 50px;
}

.field{
}