// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sanka{
  font-size: 30px;
}

.mefo{
}

.myme{
  position: relative;
  bottom: 30px;
  float:right;
  /*left: 650px;*/
}

.waku{
  padding: 0 300px 0 300px;
}